" Enable plugins
set surround
set easymotion
set ideajoin
set argtextobj
set nerdtree

" Set clipboard to copy to system clipboard
set clipboard+=unnamed

" Define bindings
let mapleader = " "

" Set relative line numbers
set relativenumber
set number     

nmap <silent> <C-p> :NERDTreeToggle<CR>
map <leader>rn <Action>(RenameElement)
map <leader>fa <Action>(VimFindActionIdAction)
map <leader>zn <Action>(ToggleZenMode)
map <leader>gr <Action>(FindUsages)

map <c-o> <Action>(Back)
map <c-i> <Action>(Forward)
